/* Spotify S ver (640px-...px) */

@media screen and (min-width: 640px) {
    .sidebar {
        width: 240px;
    }

    #logo-small {
        display: none;
    }

    #logo {
        display: block;
    }

    .icon-name,
    .playlist,
    .separator,
    .not-xs {
        display: block;
    }

    .download,
    .user {
        justify-content: flex-start;
    }

    .user-btn {
        margin-top: 0px;
    }
}


/* Spotify Md ver (878px-...px */

@media screen and (min-width: 878px) {

    .col {
        flex-basis: 25%;
    }

    .player .progress-bar {
        width: 280px;
    }

    .volume.progress-bar {
        width: 140px;
    }

    .small-img {
        width: 40px;
        height: 40px;
    }

    footer {
        padding: 0 20px;
    }
}

/* Spotify Md ver (1440px-...px */

@media screen and (min-width: 1440px) {
    .col {
        flex-basis: calc(100% / 6);
    }

    .music-info {
        column-gap: 20px;
    }


    .player .progress-bar {
        width: 450px;
    }

    .settings {
        font-size: 16px;
        column-gap: 20px;
    }
}

@media screen and (max-height: 755px) {


    .top-bar .playlist {
        display: none;
    }

}

@media screen and (max-height: 455px) {
    .bottom-bar {
        display: none;
    }

}

@media screen and (max-height: 320px) {
    .top-bar li:not(:first-child) {
        display: none;

    }
}

@media screen and (max-height: 199px) {
    .top-bar .column {
        display: none;
    }

    .top-bar {
        padding: 0;
    }
}