/* Spotify S ver (640px-...px) */

@media screen and (min-width: 640px) {
    .sidebar {
        width: 200px;
    }

    #logo {
        width: 60px;
    }

    .icon-name,
    .playlist,
    hr,
    .not-xs {
        display: block;
    }

    .download,
    .user {
        justify-content: flex-start;
    }
}


/* Spotify Md ver (878px-...px */

@media screen and (min-width: 878px) {

    .col {
        flex-basis: 25%;
    }

    .player .progress-bar {
        width: 280px;
    }

    .volume.progress-bar {
        width: 140px;
    }

    .small-img {
        width: 40px;
        height: 40px;
    }
}