/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    margin-bottom: 30px;
}

/* Utils */
.border {
    border: 2px dashed red;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.txt-up {
    text-transform: uppercase;

}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.rounded {
    border-radius: 50%;
}

.progress-bar {
    height: 3px;
    background-color: hsl(230deg 2.42% 48.63%);
    border-radius: 20px;
    position: relative;
}

.current-progress {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.marker {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

/* Main */
main {
    display: flex;
}

/* Sidebar */

.sidebar {
    background-color: black;
    color: white;
    width: 50px;
    padding: 10px;
    flex-shrink: 0;
    position: relative;
    font-weight: bold;
}

.icon-group {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

#logo+.icon-name {
    font-size: 26px;
}

sup {
    font-size: 10px;
}


.icon-group img {
    width: 30px;
}

.icon-name,
.playlist,
hr,
.not-xs {
    display: none;
}

.fa-square-plus {
    font-size: 60px;
}

.playlist {
    margin-top: 20px;
}

.playlist :not(h5) {
    color: hsl(230deg 2.42% 48.63%);
}

.playlist .icon-group {
    column-gap: 10px;
}

.playlist .column {
    row-gap: 20px;
}


/* Bottom bar */

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.bottom-bar a {
    color: hsl(230deg 2.42% 48.63%);
}


.download-btn {
    opacity: 0.4;
    width: 20px;
    text-align: center;
}

.download {
    margin-bottom: 10px;
}

.download,
.user {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.user-btn {
    width: 30px;
    background-color: hsl(230deg 2.42% 48.63%);
    border-radius: 50%;
    padding: 3px;
}

.bottom-bar hr {
    margin: 10px 0;
    border-color: hsl(230deg 2.42% 48.63%);
    flex-grow: 1;
}

.user-btn {}


/* Main content */
.main-content {
    background-color: hsl(221.54deg 23.64% 10.78%);
    color: white;
    padding: 0 30px;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

/* Header */

header {
    position: sticky;
    padding-right: 20px;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 -30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .btn {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 40px;

}

/* Genres list */

.genre-list.row {
    margin: 30px 0;
    gap: 20px;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.genre-list a {
    color: hsl(230deg 2.38% 50.59%);
}

/* Sections */

section .row {
    margin: 0 -5px;
    row-gap: 20px;
    text-align: center;
}

.col-x2 {
    flex-basis: 50%;
}

.col {
    padding: 0 5px;
}

.col>* {
    margin-bottom: 10px;
}

.description,
.subtitle {
    color: hsl(230deg 2.42% 48.63%);
}

.subtitle {
    margin-bottom: 15px;
}

.description {
    font-size: 12px;
    font-weight: bold;
}



/* Footer */

footer {
    background-color: hsl(0deg 0% 15.69%);
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

footer h5 {
    font-size: 12px;
}

footer span {
    font-size: 10px;
}




/* Music info */


.music-info {
    display: flex;
    column-gap: 10px;
    flex-basis: 25%;
    align-items: center;
}

.small-img {
    width: 30px;
    height: 30px;
}

.music-info p {
    font-size: 10px;
    color: hsl(230deg 2.42% 48.63%);
    font-weight: bold;
}

.add-to {
    justify-content: center;
    color: hsl(230deg 2.42% 48.63%);
}

/* Player */

.player {
    flex-basis: 40%;
}

.cmd-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-play-circle {
    font-size: 28px;
}

.buffering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.player .progress-bar {
    width: 150px;
}

.player .current-progress {
    width: 30%;
}

/* Settings */

.settings {
    font-size: 12px;
    display: flex;
    flex-basis: 25%;
    column-gap: 10px;
    align-items: center;
}

.volume.progress-bar {
    width: 70px;
}

.volume .current-progress {
    width: 60%;
}